* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

header {
    margin: 25px 0;
}

.result {
    font-size: 50px;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.score-container div {
    margin-top: 10px;
    font-size: 150px;
}